<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>借设备入口</title>
    <style>
        body,div,p,a,form,h1{
            margin:0;
            padding:0;
        }

        .container{
            width:90%;
            margin:0 auto;
        }

        select{
            width:200px;
        }
    </style>
</head>

<body>
    <div>
        <div class="container">
            <form>
                <div>
                    <p>单反</p>
                    <select>
                        <option value="0"></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>                       
                    </select>
                </div>
                <div>
                    <p>单反卡</p>
                    <input placeholder="输入借出数量" type="text">
                </div>
                <div>
                    <p>电池</p>
                    <input placeholder="输入借出数量" type="text">
                </div>
                <div>
                    <p>大摄像机</p>
                    <select>
                        <option value="0"></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                    </select>
                </div>
                <div>
                    <p>三脚架</p>
                    <select>
                        <option value="0"></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                    </select>
                </div>
                <div>
                    <p>马甲</p>
                    <input placeholder="输入借出数量" type="text">
                </div>
            </form>
            <div>
                <p>设备剩余情况</p>
                <table></table>
            </div>
        </div>
    </div>
</body>

</html>