<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人借还信息页面</title>
</head>

<body>
    <div>
        <div class="container">
            <div>
                <p>个人信息</p>
                <table>
                    
                </table>
            </div>
            <div>
                <p>设备信息</p>
                <table>
                    
                </table>
            </div>
        </div>
    </div>
</body>

</html>