<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>还设备入口</title>
</head>
<body>
    <div>
        <div class="container">
            <p>已借设备</p> 
            <table>

            </table>
            <div>
                <button>一键偿还</button>
                <button>偿还选中</button>
            </div>
        </div>
    </div>
</body>
</html>