<html>
<head>
    <link rel="stylesheet" href="css/qzsbzx.css"/>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>清泽设备中心</h1>
        </div>
        <div class="xj" >
            <div class="xj-c">
                <h3>相机</h3>
                <div class="jn">
                    <div class="imgbox"></div>
                    <div class="word">
                        <div class="subtitle"><b>U64538</b></div>
                        <div class="record">佳能EOS80D</div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="1" onclick="show1()">
                        </label>
                    </div>
                </div>
                <div class="jn">
                    <div class="imgbox"></div>
                    <div class="word">
                        <div class="subtitle"><b>B10854</b></div>
                        <div class="record">佳能EOS80D</div>
                    </div>
                    <div class="checkbox">
                            <label>
                                <input type="checkbox" id="2" onclick="show2()">
                            </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mj" >
            <div class="xj-c">
               <h3>马甲</h3>
               <div class="xmj">
                    <div class="imgbox"></div>
                    <div class="word2">
                        <div class="subtitle"><b>马甲</b></div>
                    </div>
                    <div class="sl">
                        <div class="subtration">-</div>
                        <div class="circle"><b>2</b></div>
                        <div class="plus">+</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qrsb">
            <button class="btn" type="button" id="3" onclick="show3()">确认设备</button>

        </div>
    
    </div>


<script>
    function show1() {
        document.getElementById("3").style.background="#4c7aff";
    }    
        
function show2() {
        document.getElementById("3").style.background="#4c7aff";
    }    
        
</script>

</body>

    </html>
